[build]
  command = "npm ci && npm run build"
  publish = "out"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "18"
  NETLIFY_USE_YARN = "false"
  NPM_FLAGS = "--no-audit --no-fund"
